$primary-color:                 #566716 !default;
$secondary-color:               #9E4B2C !default;
$highlight-color:               #F21C39 !default;
$emph-color:                    #C5CE3D !default;
$dark-color:                    #2F1C0B !default;

$dark-grey:                     #999999 !default;
$medium-grey:                   #aaaaaa !default;
$light-grey:                    #cccccc !default;
$white:                         #ffffff !default;
$background-color:              #f5f5f5 !default;
$text-color:                    $dark-color !default;


